<% if (!_ . isUndefined(page)) { %>
    <div class="row">
        <div class="col-md-3 pull-right padding-fix">
            <form class="create-dir-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="folder name" id="folder-name"
                           name="folder-name" required>
                    <% if (subDir) { %>
                        <input type="hidden" id="uploadDir" name="uploadDir" value="<%= subDir %>">
                    <% } %>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success">New folder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <ol class="breadcrumb">
            <% if (_ . isEmpty(subDir)) { %>
                <li class="active">Home</li>
            <% } else { %>
                <li><a href="/file-manager">Home</a></li>
                <% _ . forIn(dataTable, function (value, key) { %>
                    <li><a href="/file-manager<%= value %>"><%= key %></a></li>
                <% }); %>
                <li class="active"><%= active %></li>
            <% } %>
        </ol>
        <% if (returnBackUri) { %>
            <% if (returnBackUri == 'file-manager') { %>
                <a href="/file-manager" class="go-back">&#8592; Go back </a>
            <% } else { %>
                <a href="/file-manager/<%= returnBackUri %>" class="go-back">&#8592; Go back </a>
            <% } %>
        <% } %>
        <table class="table table-bordered table-striped table-hover table-color tablesorter" id="myTable">
            <thead class="text-info">
            <tr>
                <th class="header headerSortDown">Name</th>
                <th>Type</th>
                <th class="header headerSortUp">Size</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if (!_ . isEmpty(files)) { %>
                <% _ . forIn(files, function (params, name) { %>
                    <% if (params['mimetype'] == 'directory') { %>
                        <tr>
                            <td class="col-md-6">
                                    <span class="glyphicon glyphicon-folder-open">
                                            <a href="/file-manager<%= params['location'] %>"
                                               class="dir"><%= name %> </a>
                                    </span>
                            </td>
                            <td class="col-md-3">
                                <%= params['mimetype'] %>
                            </td>
                            <td class="col-md-2">
                            </td>
                            <td class="col-md-1">
                                <div class="dropdown conf-align">
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                        aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                   href="/file-manager/delete/<%= params['location'] %>.ext"
                                                                   class="btn btn-danger btn-xs">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    <% } else { %>
                        <tr>
                            <td class="col-md-6">
                                <a class="text-info" href="<%= params['location'] %>" data-title="<%= name %>"
                                   data-toggle="lightbox"><%= name %></a>
                            </td>
                            <td class="col-md-3">
                                <%= params['mimetype'] %>
                            </td>
                            <td class="col-md-2">
                                <%= params['filesize'] %>
                            </td>
                            <td class="col-md-1">
                                <div class="dropdown conf-align">
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                        aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                   href="/file-manager/download/<%= params['actionLocation'] %>.ext"
                                                                   class="btn btn-info btn-xs">Download</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                   href="/file-manager/delete/<%= params['actionLocation'] %>.ext"
                                                                   class="btn btn-danger btn-xs">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                <% }); %>
            <% } %>
            </tbody>
        </table>
        <% if (_ . isEmpty(files)) { %>
            <div class="col-md-12 text not-found"> Files not found</div>
        <% } %>
    </div>

    <div class="row">
        <form action="/file-manager/upload" id="my-awesome-dropzone" class="dropzone">
            <input type="hidden" name="uploadDir"/>

            <div class="fallback">
                <input type="file" name="file"/>
            </div>
        </form>
    </div>
<% } %>
