<?php if (isset($error)): ?>
    <p class="inform">
        Your code is expired
    </p>
<?php else : ?>
        <div class="col-lg-4 col-lg-offset-4 ">
            Your account has been activated
        </div>
<?php endif ?>