
<div class="col-lg-4 col-lg-offset-4 ">
    <?php
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url('signin'));
    echo $this->form()->openTag($form);?>
    <div class="panel panel-default">
        <?php if (isset($error)): ?>
            <p class="inform">
                Please correct your form data
            </p>
        <?php endif ?>
        <?php if (isset($complete)): ?>
            <p class="inform">
               You are signed
            </p>
        <?php endif ?>
        <div class="panel-heading">
            <h3 class="panel-title">Please sign in</h3>
        </div>
        <div class="panel-body">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <?php
                echo $this->formElement($form->get('login'));
                ?>
            </div>
            <?php
            echo $this->formElementErrors($form->get('login'));
            ?>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <?php
                echo $this->formElement($form->get('password'));
                ?>
            </div>
            <?php
            echo $this->formElementErrors($form->get('password'));
            ?>
        </div>
        <div class="panel-footer">
            <?php echo $this->formSubmit($form->get('submit'));?>
            <a href="/users/signup" title="Sign Up" class="btn btn-default pull-right">Sign Up</a>
            <?php echo $this->form()->closeTag();?>
        </div>
    </div>
</div>