
<div class="col-lg-4 col-lg-offset-4 ">
    <?php
    $form = $this->form;
    $form->prepare();
//    $form->setAttribute('action', $this->url('signup'));
    echo $this->form()->openTag($form);?>
    <div class="panel panel-default">
        <?php if (isset($error)): ?>
            <p class="inform">
                Please correct your form data
            </p>
        <?php endif ?>
        <?php if (isset($complete)): ?>
            <p class="inform">
                Register complete
            </p>
        <?php endif ?>
        <div class="panel-heading">
            <h3 class="panel-title">Registration</h3>
        </div>
        <div class="panel-body">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <?php
                echo $this->formElement($form->get('login'));
                ?>
            </div>
            <?php
            echo $this->formElementErrors($form->get('login'));
            ?>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <?php
                echo $this->formElement($form->get('name'));
                ?>
            </div>
            <?php
            echo $this->formElementErrors($form->get('name'));
            ?>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                <?php
                echo $this->formElement($form->get('email'));
                ?>
            </div>
            <?php
            echo $this->formElementErrors($form->get('email'));
            ?>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <?php
                echo $this->formElement($form->get('password'));
                ?>
            </div>
            <?php
            echo $this->formElementErrors($form->get('password'));
            ?>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                <?php
                echo $this->formElement($form->get('password2'));
                ?>
            </div>
            <?php
            echo $this->formElementErrors($form->get('password2'));
            ?>

        </div>
        <div class="panel-footer">
            <?php
            echo $this->formSubmit($form->get('submit'));
            echo $this->form()->closeTag();
            ?>
        </div>
    </div>
</div>