body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.text{
    font-size: 14pt;
    text-align: center;
    margin-bottom: 20px;
}

.dir{
    font-weight: bold;
}

.go-back{
    font-weight: bold;
}

.padding-fix{
    padding: 0;
}

.margin-fix{
    margin-left: -15px;
}

.conf-align{
    padding-left: 20px;
}
.conf{
    padding-left: 120px;
}

.table-color{
    background-color: #4e5d6c;
}

table.tablesorter thead tr .header {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: 20%;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../img/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../img/desc.gif);
}

.dropdown-menu li a:hover{
    color: #DD1144;
}