<div class="dijitTooltip">
    <div class="dijitTooltipContainer dijitTooltipContents" data-better-point="contentNode"></div
	><div class="dijitTooltipConnector" data-better-point="connectorNode"></div
></div>
