<div class="portlet">
    <div class="portlet-header" data-better-point="headerNode">
        <span data-better-point="titleNode" class="ui-dialog-title"></span>
        <span class="close" data-better-point="closeNode" data-better-event="click:close">
            <i class=" icon-remove-sign icon-white"></i>
        </span>
        <span style="display:none;" class="toggleNode" data-better-point="toggleButtonNode"></span>

    </div>
    <div class="portlet-content"  data-better-point="contentNode,toggleTansitionNode"></div>
</div>
