<div class="portlet ui-dialog ui-widget ui-widget-content ui-corner-all" >
    <div class="portlet-header ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" data-better-point="headerNode" >
        <span data-better-point="titleNode" class="ui-dialog-title"></span>
        <span class="toggleNode ui-icon"  data-better-point="toggleNode" data-better-event="click:toggle"></span>
        <a data-better-point="closeNode" data-better-event="click:close" href="#" class="ui-dialog-titlebar-close ui-corner-all">
            <span class="ui-icon ui-icon-closethick">close</span>
        </a>

    </div>
    <div data-better-point="contentNode"  class="portlet-content ui-dialog-content ui-widget-content">
    </div>
</div>