<div class="ui-dialog ui-widget ui-widget-content ui-corner-all">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
            <span data-better-point="titleNode" class="ui-dialog-title"></span>
            <a data-better-point="closeNode" data-better-event="click:hide" href="#" class="ui-dialog-titlebar-close ui-corner-all">
                    <span class="ui-icon ui-icon-closethick">close</span>
            </a>
    </div>
    <div data-better-point="contentNode"  class="ui-dialog-content ui-widget-content">
    </div>
</div>