<div class="modal" style="margin: 0px">
  <div data-better-point="headerNode" class="modal-header">
    <button data-better-point="closeNode" data-better-event="click:hide" type="button" class="close">×</button>
    <h3 data-better-point="titleNode"></h3>
  </div>
  <div data-better-point="contentNode" class="modal-body">
    
  </div>
  <div  class="modal-footer">
    <!--<a href="#" class="btn">Close</a>-->
    <!--<a href="#" class="btn btn-primary">Save changes</a>-->
  </div>
</div>


