<div class="row">
    <div class="col-md-3 pull-right">
        <?php if (isset($login)) : ?>
            Вы зашли как <?= $login; ?> | <a href="<?php echo $this->url('file-manager-signout'); ?>">Выйти</a>
            <?php echo("</div>"); ?>
        <?php else: ?>
        <a class="btn btn-facebook" href="<?php echo $this->url('login'); ?>">f | Connect with Facebook</a>
    </div>
    <div class="col-md-12 text">
        Please sign in if you want to use file manager
    </div>
    <?php endif; ?>
</div>

<br>

<div id="target"></div>

<script>
    require(['jquery', 'lodash', 'text!better/templates/FileManager/file-manager.html'], function ($, _, template) {
        $(document).ready(function () {
            var response = '<?php echo($response); ?>';
            var data = JSON.parse(response);
            var files = data.files;
            var page = data.page;
            var subDir = data.subDir;
            var returnBackUri = data.returnBackUri;
            var folders = subDir.split('/');
            var active = folders.pop();
            var path = '';
            var dataTable = {};

            _(folders).forEach(function (folder) {
                path = path + '/' + folder;
                dataTable[folder] = path;
            });

            var data = {
                'files': files,
                'page': page,
                'subDir': subDir,
                'returnBackUri': returnBackUri,
                'dataTable': dataTable,
                'active': active
            };
            $("#target").html(_.template(template, data));
        });
    });
</script>