<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/css/social-buttons-3.css')
                        ->prependStylesheet($this->basePath() . '/css/ekko-lightbox.css')
                        ->prependStylesheet($this->basePath() . '/css/dropzone.css')?>

        <!-- Scripts -->
        <?php $this -> headScript() -> setAllowArbitraryAttributes(true);
            echo $this->headScript()
            ->prependFile($this->basePath() . '/js/require.js', 'text/javascript', array('data-main' => '/js/config'))
        ; ?>
        <?php
        $flash = $this->flashMessenger();
        $flash->setMessageOpenFormat('<div%s>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
    </button>
    <div>')->setMessageCloseString('</div></div>');

        echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger', 'info'));
        echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info', 'info'));
        echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning', 'info'));
        echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success', 'info'));?>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;<?php echo $this->translate('Skeleton Application') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url('file-manager') ?>"><?php echo $this->translate('File-manager') ?></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2005 - <?php echo date('Y') ?> by Zend Technologies Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
